* {
  font-family: 'Bitter', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1E2023;
}

body {
  background-color: #FAF1ED;
}

button {
  padding: 1em 2em;
  border-radius: 4px;
  background-color: #FE5F55;
  border: none;
}

main {
  display: flex;
  justify-content: center;
}
