header {
  display: flex;
  position: relative;
  justify-content: space-between;
  min-height: 10vh;
  padding: .5em 8em;
}

#headline {
  border-bottom: 2px solid #FE5F55;
  font-weight: 400;
  font-style: italic;
}

h1 {
}

nav {
  position: relative;
  width: 30%;
}

nav button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%)
}
